<h1>Youngest director</h1>

<p>The youngest director in our dataset right now is <a href="/directors/<%= @young_director.id %>"><%= @young_director.name %></a>, born on <%= @young_director.dob%>.</p>

<p>(<a href="http://strftime.net/">http://strftime.net/</a> is handy for putting together the formatting strings for the <code>.strftime</code> method.)</p>

  </body>
</html>
